{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'backend/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    {% block script %}
    {% endblock %}
    <title>{% block title %}Energy Save{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Energy Save</a>
            </div>
                <ul class="nav navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-item" href="#"><strong>{{ user.username|capfirst }}</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item" href="#" id="calculator">Calculator</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item" href="#" id="appliance_list">Appliance List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item" href="#" id="statistics">Statistics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                    {% endif %}
                </ul>
        </div>
    </nav>
    <div class="body">
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>